Import/Connected Services/LSLRMS/MiddleService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns="http://webservice.common.biz.com.cn" xmlns:ns1="http://org.apache.axis2/xsd" targetNamespace="http://webservice.common.biz.com.cn" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>MiddleService</wsdl:documentation>
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://webservice.common.biz.com.cn">
      <xs:element name="restMiddle">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="sapData" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="restMiddleResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="restMiddleRequest">
    <wsdl:part name="parameters" element="ns:restMiddle" />
  </wsdl:message>
  <wsdl:message name="restMiddleResponse">
    <wsdl:part name="parameters" element="ns:restMiddleResponse" />
  </wsdl:message>
  <wsdl:portType name="MiddleServicePortType">
    <wsdl:operation name="restMiddle">
      <wsdl:input wsaw:Action="urn:restMiddle" message="ns:restMiddleRequest" />
      <wsdl:output wsaw:Action="urn:restMiddleResponse" message="ns:restMiddleResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MiddleServiceSoap11Binding" type="ns:MiddleServicePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="restMiddle">
      <soap:operation soapAction="urn:restMiddle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MiddleServiceSoap12Binding" type="ns:MiddleServicePortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="restMiddle">
      <soap12:operation soapAction="urn:restMiddle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MiddleServiceHttpBinding" type="ns:MiddleServicePortType">
    <http:binding verb="POST" />
    <wsdl:operation name="restMiddle">
      <http:operation location="restMiddle" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MiddleService">
    <wsdl:port name="MiddleServiceHttpSoap11Endpoint" binding="ns:MiddleServiceSoap11Binding">
      <soap:address location="http://www.dencare.com.cn:5889/eisp/services/MiddleService.MiddleServiceHttpSoap11Endpoint/" />
    </wsdl:port>
    <wsdl:port name="MiddleServiceHttpSoap12Endpoint" binding="ns:MiddleServiceSoap12Binding">
      <soap12:address location="http://www.dencare.com.cn:5889/eisp/services/MiddleService.MiddleServiceHttpSoap12Endpoint/" />
    </wsdl:port>
    <wsdl:port name="MiddleServiceHttpEndpoint" binding="ns:MiddleServiceHttpBinding">
      <http:address location="http://www.dencare.com.cn:5889/eisp/services/MiddleService.MiddleServiceHttpEndpoint/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>