AMO_Import/Connected Services/DataBaseAccessWB/DataBaseAccess.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strSql" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parValue" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDataSetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPageDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProduceName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parms">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPageDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPageDataSetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="1" maxOccurs="1" name="TotalLine" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="TotalPage" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExecuteNonQuery">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strSql" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parValue" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExecuteNonQueryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ExecuteNonQueryResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoScalar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strSql" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parValue" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoScalarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DoScalarResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoTransaction">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strSql" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:element name="DoTransactionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DoTransactionResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CallExportProgram">
        <s:complexType />
      </s:element>
      <s:element name="CallExportProgramResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:GetDataSet" />
  </wsdl:message>
  <wsdl:message name="GetDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:GetDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="GetPageDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:GetPageDataSet" />
  </wsdl:message>
  <wsdl:message name="GetPageDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:GetPageDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="ExecuteNonQuerySoapIn">
    <wsdl:part name="parameters" element="tns:ExecuteNonQuery" />
  </wsdl:message>
  <wsdl:message name="ExecuteNonQuerySoapOut">
    <wsdl:part name="parameters" element="tns:ExecuteNonQueryResponse" />
  </wsdl:message>
  <wsdl:message name="DoScalarSoapIn">
    <wsdl:part name="parameters" element="tns:DoScalar" />
  </wsdl:message>
  <wsdl:message name="DoScalarSoapOut">
    <wsdl:part name="parameters" element="tns:DoScalarResponse" />
  </wsdl:message>
  <wsdl:message name="DoTransactionSoapIn">
    <wsdl:part name="parameters" element="tns:DoTransaction" />
  </wsdl:message>
  <wsdl:message name="DoTransactionSoapOut">
    <wsdl:part name="parameters" element="tns:DoTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="CallExportProgramSoapIn">
    <wsdl:part name="parameters" element="tns:CallExportProgram" />
  </wsdl:message>
  <wsdl:message name="CallExportProgramSoapOut">
    <wsdl:part name="parameters" element="tns:CallExportProgramResponse" />
  </wsdl:message>
  <wsdl:portType name="DataBaseAccessSoap">
    <wsdl:operation name="GetDataSet">
      <wsdl:input message="tns:GetDataSetSoapIn" />
      <wsdl:output message="tns:GetDataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPageDataSet">
      <wsdl:input message="tns:GetPageDataSetSoapIn" />
      <wsdl:output message="tns:GetPageDataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteNonQuery">
      <wsdl:input message="tns:ExecuteNonQuerySoapIn" />
      <wsdl:output message="tns:ExecuteNonQuerySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DoScalar">
      <wsdl:input message="tns:DoScalarSoapIn" />
      <wsdl:output message="tns:DoScalarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DoTransaction">
      <wsdl:input message="tns:DoTransactionSoapIn" />
      <wsdl:output message="tns:DoTransactionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CallExportProgram">
      <wsdl:input message="tns:CallExportProgramSoapIn" />
      <wsdl:output message="tns:CallExportProgramSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DataBaseAccessSoap" type="tns:DataBaseAccessSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDataSet">
      <soap:operation soapAction="http://tempuri.org/GetDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPageDataSet">
      <soap:operation soapAction="http://tempuri.org/GetPageDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteNonQuery">
      <soap:operation soapAction="http://tempuri.org/ExecuteNonQuery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoScalar">
      <soap:operation soapAction="http://tempuri.org/DoScalar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoTransaction">
      <soap:operation soapAction="http://tempuri.org/DoTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CallExportProgram">
      <soap:operation soapAction="http://tempuri.org/CallExportProgram" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DataBaseAccessSoap12" type="tns:DataBaseAccessSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDataSet">
      <soap12:operation soapAction="http://tempuri.org/GetDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPageDataSet">
      <soap12:operation soapAction="http://tempuri.org/GetPageDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteNonQuery">
      <soap12:operation soapAction="http://tempuri.org/ExecuteNonQuery" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoScalar">
      <soap12:operation soapAction="http://tempuri.org/DoScalar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoTransaction">
      <soap12:operation soapAction="http://tempuri.org/DoTransaction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CallExportProgram">
      <soap12:operation soapAction="http://tempuri.org/CallExportProgram" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataBaseAccess">
    <wsdl:port name="DataBaseAccessSoap" binding="tns:DataBaseAccessSoap">
      <soap:address location="http://10.205.200.71/OMSSERVER/DataBaseAccess.asmx" />
    </wsdl:port>
    <wsdl:port name="DataBaseAccessSoap12" binding="tns:DataBaseAccessSoap12">
      <soap12:address location="http://10.205.200.71/OMSSERVER/DataBaseAccess.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>